@charset "utf-8";

/* Board Reset
-------------------------------------------------------------------------------------------------------- */
#xet_board * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
#xet_board { 
	color:#555;
}
#xet_board.black { 
	color:#aaa;
}
#xet_board a,
#xet_board a:hover,
#xet_board a:active,
#xet_board a:focus {
	text-decoration:none !important; 
}
.float_left {
	float:left; 
}
.float_right { 
	float:right; 
}
.xet_clearfix {
	*zoom: 1;
}
.xet_clearfix:after {
	display: block;
	content: "";
	clear: both;
}

.mg-b10 {
	margin-bottom: 10px !important;
}
.mg-b15 {
	margin-bottom: 15px !important;
}
.mg-b20 {
	margin-bottom: 20px !important;
}
.mg-b30 {
	margin-bottom: 30px !important;
}

/* 게시판 설정 버튼
-------------------------------------------------------------------------------------------------------- */
.infoView {
	margin:0; 
	padding:0;
	list-style:none; 
	text-align:right;
}
.infoView a { 
	display:inline-block;
	vertical-align: top;
	font-size: 12px;
	color:#777;
}
.infoView a.on { 
	font-weight:bold;
	color:#555;
}

/* 상단내용
-------------------------------------------------------------------------------------------------------- */
.header_text { 
	margin-bottom: 10px; 
}
/* 하단내용
-------------------------------------------------------------------------------------------------------- */
.footer_text { 
	margin-top: 10px;
}

/* 게시판 제목 및 설명
-------------------------------------------------------------------------------------------------------- */
.boardTitle { 
	position:relative; 
	margin-bottom: 30px;
}
.boardTitleText {
	font-size: 24px; 
}
.boardTitleText a { 
	color:#333; 
}
/* 부제목 */
.boardTitleText a em { 
	font-style: normal; 
	font-weight: normal; 
	color: #555; 
}
/* 상세설명 */
.boardTitle .boardDescription {
	font-size: 14px;
	margin-top: 15px;
	color: #555;
}

/* 카테고리 탭  
-------------------------------------------------------------------------------------------------------- */
.categoryList { 
	margin-bottom: 15px; 
}
.categoryList ul {
	z-index: 10; 
	list-style: none;
	margin:0;
	padding: 0;
}
.categoryList li {
	float: left;
	position: relative;
	margin: 0 2px 2px;
	padding: 0;
}
.categoryList ul > li a { 
	display: block; 
	padding: 5px 15px; 
	text-decoration:none; 
	font-size:12px; 
	text-align: center;
	color: #555; 
	border:1px solid #cccdcf;
	background: #fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px; 
	border-radius:3px; 
}
/* 2차 카테고리 */
.categoryList ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 180px;
	margin-top: -1px;
	background: #fff;
	border:1px solid #cccdcf;
	-moz-border-radius:3px;
	-webkit-border-radius:3px; 
	border-radius:3px; 
}
.categoryList li li {
	float: none;
	margin: 0;
	padding: 0;
}
.categoryList li li a {
	float: none;
	display: block;
	text-align: left;
	border: 0;
	background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px; 
	border-radius: 0px; 
}
/* 3차 카테고리 */
.categoryList ul ul ul {
	top: 0px;
	left: 100%;
}

/* hover view sub category */
.categoryList li:hover > ul {
	display: block;
}

/* Hover */
.categoryList a.on {
	color: #fff;
	background: #555;
	border-color: #555;
}
.categoryList a.on2,
.categoryList a.on3 {
	color: #3498db;
}
.categoryList li:hover > a {
	color: #3498db;
}



/* Require Password 비밀번호 요구 박스
-------------------------------------------------------------------------------------------------------- */
.requirePassword {
	text-align:center; 
}
.requirePassword fieldset { 
	border:0; 
	margin:0; 
	padding:0;
}
.requirePassword h3 {
	font-size:14pt; 
	padding:0;
	margin:20px 0;
	color:#555;
}
.requirePassword .inputText { 
	display:inline-block;
	padding:0 10px;
	width:150px; 
	height: 28px;
	line-height: 28px;
	vertical-align:middle; 
	color:#777;
	background: #fbfbfb;
	border: 1px solid #cccdcf;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	border-radius:3px;
  }
.requirePassword .inputText:focus {
	background:#fff;
	color:#555;
 }

	/* colorset - board_dark */
	#xet_board.black .requirePassword h3 { 
		color:#ccc;
	}
	#xet_board.black .requirePassword .inputText { 
		color:#777;
		background: #2b2b2b;
		border: 1px solid #333;
	  }
	#xet_board.black .requirePassword .inputText:focus {
		background:#1b1b1b;
		color:#ccc;
	 }


/* 삭제 박스 
-------------------------------------------------------------------------------------------------------- */
.smallBox { 
	margin:0; 
	padding:20px; 
	text-align:center; 
	border: 1px solid #cccdcf;
}
.smallBox p { 
	margin:0 0 30px;
	font-size:13px;
}
.smallBox h3 {
	padding:0;
	margin:0 0 20px;
	color:#ff0000;
}



/* 태그 출력 리스트 
-------------------------------------------------------------------------------------------------------- */
.tagCloud { 
	padding:10px 0; 
}
.tagCloud * { 
	margin:0; 
	padding:0;
}
.tagCloud h3 {
	margin:0 0 20px;
	padding-bottom:20px;
	color:#333;
	border-bottom:1px solid; 
	border-color:#cccdcf; 
}
.tagCloud ul { 
	list-style:none;
	margin:0;
	padding:0;
}
.tagCloud li { 
	display:inline;
	list-style:none;
	margin:0 5px 5px; 
}
.tagCloud li.rank1 a { 
	font-weight:bold; 
	font-size:12pt;
	color:#2ecc71;
}
.tagCloud li.rank2 a {
	font-weight:bold; 
	font-size:11pt;
	color:#e67e22;
}
.tagCloud li.rank3 a { 
	font-weight:bold;
	font-size:10pt;
	color:#27ae60;
}
.tagCloud li.rank4 a { 
	font-size:9pt;
	color:#8e44ad
}
.tagCloud li.rank5 a { 
	font-size:8pt;
	color:#7f8c8d;
}


	/* colorset - board_dark */
	#xet_board.black .tagCloud h3 { 
		color:#ccc;
		border-color:#333; 
	}

/* Pagination  
-------------------------------------------------------------------------------------------------------- */
.pagination { 
	list-style: none;
	padding: 0;
	margin: 15px 0 0;
	text-align: center;
	display: block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
}
.pagination > li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.pagination > li:first-child > a {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin-left: 0;
}
.pagination > li:last-child > a {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.pagination > li + li {
    margin-left: -1px;
}
.pagination img { 
	border:0;
}
.pagination a,
.pagination strong { 
	position:relative;
	display:inline-block;
	text-decoration:none;
	margin:0;
	padding:0;
	font-size: 12px;
	width:30px;
	height:30px;
	line-height: 28px;
	vertical-align:middle;
	white-space: nowrap;
	text-align:center; 	
	border: 1px solid #e1e1e1;
}
.pagination a { 
	background: #fff;
	color:#555;
}
.pagination .page_on {
	font-weight:bold; 
	background-color: #4b4b4b;
	border-color: #4b4b4b;
	color: #fff !important;
}
.pagination .page_mobile {
	width: 100px;
}
.pagination .prevEnd span,
.pagination .nextEnd span { 
	visibility:hidden; 
	font-size:0; 
}
.pagination .prevEnd,
.pagination .nextEnd { 
	font-size: 14px;
}



/* Board Navigation
-------------------------------------------------------------------------------------------------------- */
.boardNavigation { 
	margin-top: 20px;
	text-align:center;
	*zoom:1;
}
.boardNavigation:after { 
	content:"";
	display:block;
	clear:both;
}


/* Search 
-------------------------------------------------------------------------------------------------------- */
.boardSearch {
	text-align: center;
}
.boardSearchForm {
	margin: 0 0 15px;
	padding:0;
}
.boardSearchForm .boardSearch * {
	vertical-align: middle;
}
.boardSearchForm .boardSearch { 
	position:relative;
	line-height: 30px;
	font-size: 0;
}
.boardSearchForm .boardSearch span.l-r3 {
	display:inline-block;
	height: 32px;
	padding:0;
	border:1px solid #cccdcf; 
	border-right: 0;
	background:#fff; 
	color:#555;
}
.boardSearchForm .boardSearch span select {
	margin:4px;
	padding:0;
	border:0;
	font-size: 12px;
	background:none;
	color:#555;
}
.boardSearchForm .boardSearch .inputText { 	
	width: 160px;
	height: 32px; 
	font-size: 12px;
	padding:0 5px; 
	margin:0;
	color:#777;
	background: #fff;
	border: 1px solid #cccdcf;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.boardSearchForm .boardSearch .inputText:focus { 
	color: #333;
	background: #fff;
}
.boardSearchForm .boardSearch .search_btn_wrp {
	display: inline-block;
	border: 1px solid #cccdcf;
	border-left: 0;
	overflow: hidden;
}
.boardSearchForm .boardSearch .search_btn { 
	display:inline-block;
	width: 100%;
	font-size: 12px;
	height: 30px; 
	margin:0; 
	padding:0 15px; 
	cursor:pointer; 
	border: 0;
	color:#555;
}
.boardSearchForm .boardSearch .search_btn i {
	vertical-align: middle;
}


/* Tag 
-------------------------------------------------------------------------------------------------------- */
.tag_wrp { 
	position:relative; 
	margin:20px 0 0;
	padding:10px 0;
	text-align:right;
	border-top:1px solid #e1e1e1;
}
.tag_wrp a { 
	display:inline-block; 
	padding:5px 10px;
	color:#555;
}



/* responsive 
-------------------------------------------------------------------------------------------------------- */

@media (max-width: 767px) {	
	.visible-xs {
		display: block !important;
	}
  	.hidden-xs {
    	display: none !important;
  	}
  	
	.xet_webzine .list {	padding: 15px; }
	.xet_webzine .list .thumb { width: 60px; margin-right: 15px; }
	
	/* 탭 */
	.categoryList ul > li {
		width: 25%;
		margin: 0;
	}
	.categoryList ul > li a { 
		margin: 0 0 -1px -1px;
		padding: 5px 0; 
	}
	.categoryList ul ul {
		width: 200%;
		right: 0;
	}
	.categoryList li li {
		width: 100%;
	}
	.categoryList li li a {
		padding: 5px 10px;
	}
	
	/* 검색 */
	.boardSearchForm {
		margin-bottom: 15px;
	}
	.boardSearch {
		float: none !important;
		text-align: center;
	}
	.boardSearchForm .boardSearch span.l-r3 {
		width: 20%;
	}
	.boardSearchForm .boardSearch .inputText { 	
		width: 60%;
	}
	.boardSearchForm .boardSearch .search_btn_wrp {
		width: 20%;
	}
	
	/* 버튼 */
	.xet_btn {
		margin-bottom: 5px;
	}
			
}
@media (min-width: 768px) {
	.visible-sm {
		display: block !important;
	}
  	.hidden-sm {
    	display: none !important;
  	}
}