/* common */
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,a,button,select { padding:0;}
body,td,th,div,span,input,select,textarea,button,table { font-family:'serif'; font-size:15px; color:#ffffff; line-height:16px; }
img, th, td, fieldset,iframe { border:0;}
img { vertical-align:top;}
li { list-style:none;}
em,address {font-style:normal;}
input,select,button {vertical-align:middle;}

/*common add */
caption,legend,.blind {visibility:hidden; overflow:hidden; position:absolute; top:0; left:-999em; width:0; height:0; font-size:0; line-height:0; text-align:left;}

/* input */
button { margin:0; *margin:0 2px; padding:0; cursor:pointer; border:0; vertical-align:middle; background-repeat:no-repeat; background-position:top left; }
textarea { height:120px; border:1px solid #cecece;}
select{ height:26px; padding:2px; border:1px solid #cecece; /*font-size:12px; color:#444;*/ vertical-align:middle;}
table { border-collapse:collapse; border-spacing:0;}
hr {display:none;}

/* link */
a:link { color:#ffffff; text-decoration: none; }
a:visited {color:#ffffff; text-decoration: none;}
a:hover { color:#ffffff; text-decoration: underline;}
a:active { color:#ffffff; text-decoration: none;}

.site_navi { width:100%; text-align:right; font-size:11px; color:#838383; border-bottom:1px solid #ddd; padding-bottom:7px;}
.contents_sub { width:100%; margin:0; }
.contents_sub table {width:100%;}
.contents_sub table img {padding-top:2px;}

.board_top {width:100%; overflow:hidden;}
.board_top .f_search {float:right; width:380px; text-align:right;}
.board_top .bold {float:left; width:200px; margin:10px 0;}

.board_title { font-size:14px; font-weight:bold; color:#000; }
.coment_number { font:bold 10px verdana; color:#6fa800; }
.board { width:100%; margin-top: 9% }
.board th { height:41px; border-bottom:1px solid #dadada; background-color:#f9f9fb; color:#464646; font-weight:600; word-wrap: break-word; border-top:1px solid #464646; word-break: break-all; }
.board td { height:30px; border-bottom:1px solid #dadada; text-align:center; padding:5px; word-wrap: break-word; word-break: break-all; }
.board td.left {text-align:left; }
.board td.category{ font-weight:bold; }   
    
.board_input { border:1px solid #cecece; height:24px; width:160px;}

/* Paging */
.paginate_regular {padding:10px 0;text-align:center;line-height:normal;}  
.paginate_regular a,  
.paginate_regular strong{display:inline-block;position:relative;margin:0 -2px;padding:2px 8px;font-weight:600;/*font-family:Tahoma,Sans-serif;*/line-height:normal;text-decoration:none;vertical-align:middle;}  
.paginate_regular a:hover,  
.paginate_regular a:active,  
.paginate_regular a:focus {background-color:#f8f8f8;}  

.paginate_regular strong{color:#f60;}  
.paginate_regular .direction{font-weight:normal;color:#767676;white-space:nowrap;}  
.paginate_regular .direction span{font-weight:bold;font-size:14px;}  

.paginate_regular .direction:hover,  
.paginate_regular .direction:active,  
.paginate_regular .direction:focus {background-color:#fff;color:#333;}

/* Button */
.btn_write { display:inline-block; background:#5f5f5f; border:1px solid #404144;padding:6px 17px 7px 17px;}
.btn_txt01 {color:#fff; font-weight:600;} 
.btn_search { display:inline-block; color:#333; padding:4px 16px 6px 26px; background:url('../images/btn_search_bg.gif') no-repeat 0 0;}

/* Align*/
.align_right {text-align:right; margin:10px 0; overflow:hidden;}
.align_right button {float:right;}
.tr {text-align:right;}

/* Color */
.txt_blue { font-weight:bold; color:#7ab5df; }
.txt_orange { font:bold 20px verdana; color:#ff7e00; }
