/* common */
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,a,button,select { padding:0;}
body,td,th,div,span,input,select,textarea,button,table { font-family:'serif'; font-size:15px; color:#000000; line-height:16px; }
img, th, td, fieldset,iframe { border:0;}
img { vertical-align:top;}
li { list-style:none;}
em,address {font-style:normal;}
input,select,button {vertical-align:middle;}

/*common add */
caption,legend,.blind {visibility:hidden; overflow:hidden; position:absolute; top:0; left:-999em; width:0; height:0; font-size:0; line-height:0; text-align:left;}

/* input */
button { margin:0; *margin:0 2px; padding:0; cursor:pointer; border:0; vertical-align:middle; background-repeat:no-repeat; background-position:top left; }
textarea { height:120px; border:1px solid #cecece;}
select{ height:26px; padding:2px; border:1px solid #cecece; /*font-size:12px; color:#444;*/ vertical-align:middle;}
table { border-collapse:collapse; border-spacing:0;}
hr {display:none;}

/* link */
a:link { color:#000000; text-decoration: none; }
a:visited {color:#000000; text-decoration: none;}
a:hover { color:#000000; text-decoration: underline;}
a:active { color:#000000; text-decoration: none;}

textarea {width:100%;}
.site_navi { width:100%; text-align:right; font-size:11px; color:#838383; border-bottom:1px solid #ddd; padding-bottom:7px;}
.contents_sub { width:100%; margin:0;}
.contents_sub table {width:100%; border-collapse:collapse;}
.board_write {border-top:1px solid #464646; }
.board_write th, .board_write td {height:25px; text-align:left;padding:8px;border-bottom:1px solid #dadada;}
.board_write th { color:#464646; font-weight:600; background-color:#f9f9fb; }
.board_write td { color:#797979; }


.board_view_area, .board_view_input, .board_view_input_mail, .board_view_input_number {border:1px solid #d1d1d1;}
.board_view_area { height:100px; width:500px;}
.board_view_input { height:20px; width:500px;}
.board_view_input_mail { height:20px; width:100px;}
.board_view_input_number { height:20px; width:30px;}
.board_view td.tip { color:#7ab5df; }
.coment_input { border:1px solid #c5c5c5; background-color:#f3fbff; height:20px; width:80px; }
.coment_input_text { border:1px solid #c5c5c5; background-color:#f3fbff; height:60px; }

.board_editor_area{width:100%; height:200px;}

.page {text-align:right; font:11px verdana; padding:5px}
.view_box {border:1px solid #d2d2d2; padding:10px;}
.veiw_box_td {border-bottom:1px dotted #d2d2d2; padding:5px;}
.veiw_box_td2 { padding:5px;}
.coment_re {font:11px dotum; padding:5px; background-color:#fafafa;border-bottom:1px dotted #d2d2d2;word-wrap: break-word; word-break: break-all;}

#upload_list div{padding:5px 0 0 0}
#upload_list div a{padding:0 0 0 3px}

/* Button */
.btn_write { display:inline-block; background:#5f5f5f; border:1px solid #404144;padding:6px 17px 7px 17px;}
.btn_list  { display:inline-block; background:#fcfcfc; border:1px solid #bcbcbc;padding:6px 17px 7px 17px;}
.btn_txt01 {color:#fff; font-weight:600;}
.btn_txt02 {color:#1f1f1f; font-weight:600;}

/* Align*/
.btn_area {overflow:hidden; margin:10px 0;}
.align_left {float:left; }
.align_right {float:right;}
.align_right button {}
.align_left button {}
.tR {text-align:right;}

/* Color */
.txt_blue { font-weight:bold; color:#7ab5df; }
.txt_orange { font:bold 12px verdana; color:#ff7e00; }
